{% extends 'layout.html'%}
{% block page_title %} post page {% endblock %}

{%block content %}
      <div class="form_row">
          <div class="form-group col-md-4">
            <h3>Friend </h3>
            {% for friend in friends %}

           <li> {{friend.username}}
            <a href="{% url 'asas:change_friend'  operation='remove' pk=friend.pk  %}">
            <button type="button" class="btn btn-denjer">remove </button>
            </a></li>
            {% endfor %}
        </div>
      </div>
{% endblock %}
