{% extends 'layout.html'%}
{% block page_title %} detal Page {% endblock %}

{%block content %}
{% include 'nevebar.html' %}
<div class="row">
    <div class="col-lg-12">
    {% for user in users %}
        <div class="card"  style="background-color: rgba(0, 128, 0, 0.15);
    height: font-size;
    padding: 10px;
    width; font-size;
    text-align: center;
    text-aria: red;
    font-size: 30px;
    color:  red;
    border: 1px solid green;
    border-radius: 10px;border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(169,169,169)">
            <div class="card-body">
                <pre> {{  user.page  }} </pre>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}